!!!
%html
  %head
    %title
      Snuffle:
      = summary.class_name
    %link{href: "http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css", rel: "stylesheet"}
    %style{media: "screen", type: "text/css"}
      body { background: #49525a; color: #fff; font-family: arial, sans-serif; padding: 2em; }
      a:link, a:visited { color: #aaa }
      div.file_meta { float: left; height: 3em; width: 30%; }
      h1 { color:#fff; font-size: 1.25em; margin-top: .25em; }
      h2 { color:#fff; font-size: .75em; margin-top: -1em; }
      h3 { color:#fff; font-size: 1em; float: right; margin-top: 1em; }

  %body
    .container

      = formatted_source

    %br
    %input{onclick: "history.back(-1)", type: "button", value: "Back"}

    :javascript
      $(document).ready(function(){
        $('.output-table').dataTable({
          bLengthChange: false,
          iDisplayLength: 25000,
          "order": [[2, "desc"]]
        });
      });

